@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* shared styles*/
*{
    font-family: "Quicksand", serif;
    margin: 0;
    padding: 0;
}
.hr{
    display: none;
}
.fa-bar{
    display: none;
}
.display-flex{
    display: flex;
}
/* nav styles */
nav{
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.logo-school{
    align-items: center;
}
.school{
    font-size: 2rem;
    font-weight: bold;
}
nav a{
    text-decoration: none;   
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-links{
    gap: 32px;
}
nav .a1{
    color: #FEA301;
}
nav .a2{
    color: #01ACFD;
}
nav .a3{
    color: #05D4DF;
}
nav .a4{
    color: #5D58EF;
}
.nav-btn{
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background-color: #FEA301;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.nav-btn:hover{
    color: green;
    background-color: purple;
}

/* ------------Banner-section--------- */
.banner-section{
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}
.Empowering{
    color: #FEA301;
}
.towards-vision{
    color: #01ACFD;
}
.banner-description{
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
.banner-btn{
    padding: 10px 47px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}
.banner-btn:hover{
    color: purple;
    background-color: green;

}
.hero-kids{
    width: 100%;
}

/* --------curriculum-section--------- */
.curriculum-section{
    background-image: url(../assets/bg.png);
}
.cards{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;

}
.curriculum-title{
    text-align: center;
    font-size: 2.87rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom:80px;
}
.card1{
    width: 370px;
    height: 480px;
    border-radius: 18.86px;
    box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05);
    margin-bottom: 80px;
    background: linear-gradient(to bottom, rgba(238, 225, 255,1), rgba(255, 255, 255,1) 40%);
    transition: 1s;
}
.card2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), rgba(255, 255, 255,1) 40%);
}
.card-1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255,1) 40%);
}
.card1:hover{
    width: 385px;
    height: 490px;
    background: linear-gradient(to top, rgba(238, 225, 255,1), rgba(255, 255, 255,1) 40%);
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
}
.curriculum-image{
    margin-top: 52px;
    margin-bottom: 32px;
   
    display: flex;
    justify-content: center;
}
.curriculum-main-image{
    width: 145px;
    height: 145px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.card-description{
    font-family: "Raleway", serif;
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 34px;
    margin-top: 34px;
    text-align: center;
}
.card-btn{
    display: flex;
    justify-content: center;
}
.card-button{
    font-size: 1rem;
    font-weight: 700;
    color: #64C8FF;
    text-decoration: none;
    border: none;
    background: inherit;
    padding: 5px 25px 5px 0px;
    transition: 0.5s;
}
.card-button:hover{
    font-size: 1.25rem;
}
.card-button2{
    color: #F0AA00;
}
.card-button3{
    color: #8700FF;
}
.next-page{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.next-page img{
    width: 130px;
    height: 60px;
}

/* ---------our-stories-section------- */
.stories-section{
    background: linear-gradient(to top, rgba(254, 163, 1, 0.3) 30%, rgba(255, 255, 255, 0.3)), url('../assets/bg.png');
    background-size: cover;;
}
.stories-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 60px;
    text-align: center;
}
.stories-card{
    width: 80%;
    margin: 80px auto;
    justify-content: space-between;

}
.big-stories-card{
    position: relative;
    width: 46.55%;
    height: 630px;
    border-radius: 16px;
    background-color: white;
    margin-right: 15px;
    overflow: hidden;
}
.big-stories-card img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}
.big-stories-card-title{
    width: 433px;
    font-size: 1.5rem;
    margin-top: 58px;
    margin-bottom: 47px;
    margin-left: 38px;
}
.big-stories-card-description{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    color: #666666;
}
.stories-card-date{
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 19px 15px 19px;
    color: white;
    background-color: #3CD8E8;
    border: none;
    border-radius: 48px;
    position: absolute;
    top: 56%;
    left: 38px;
    cursor: pointer;
}
/* ----small-stories-cards-------- */
.small-stories-card{
    width: 53%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.small-card{
    position: relative;
    width: 95%;
    border-radius: 16px;
    background-color: white;
    
}
.small-card img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 38px;

}
.small-card-btn{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 19px 10px 19px;
    color: white;
    background-color: #95B226;
    border: none;
    border-radius: 48px;
    position: absolute;
    top: 53%;
    left: 38px;
    cursor: pointer;
}
.small-card-btn2{
    background-color: #5D58F0;
}
.small-card-title{
    margin-left: 38px;
    font-size: 1rem;
    font-weight: 700;
}
/* view all button */
.view-all-div{
    text-align: center;
}
.view-all-btn{
    padding: 10px 61px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 60px;
    transition: 0.5s;
}
.view-all-btn:hover{
    color: purple;
    background-color: green;
}

/* -------footer------- */
.footer {
    background: #01ACFD;
    background-size: cover;
    width: 100%;
    height: 520px;
    margin: 0;
    display: flex;
    align-items: center;
}

.main-footer {
    
    width: 75%;
    height: 222px;
    /* padding-bottom: 174px;
    padding-top: 80px; */
    margin-left: 10%;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    
}
.logo-2{
    margin-top: 12px;
    width: 82px;
    height: 82px;
}
.kids-education{
    margin-left: 10px;
    margin-bottom: 36px;
    color: white;
    font-weight: 700;
    font-size: 2.625rem;
}
.footer-column-1-description{
    color: white;
}
.about-school{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
    color: white;

}

.footer-column-2 ul li{
    list-style: none;
    margin-bottom: 20px;
    color: white;
}
.footer-column-2 ul li a{
    text-decoration: none;
    color: white;
}

.footer-column-3{
    margin-bottom: 110px;
}
.footer-column-3-title{
    color: white;
    font-weight: bold;
    font-size: 1.625rem;
    padding-bottom: 32px;
}
.icon-div{
    gap: 10px;
}
.footer-column-3 img{
    width: 40px;
    height: 40px;
}

/* ---------media query for small devices---------- */

@media screen and (max-width:576px) {
    .nav-btn, .nav-links, .school{
        display: none;
    }
    .hr{
        display: block;
        color: orange;
    }
    .banner-section{
        flex-direction: column-reverse;
        text-align: center;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .stories-card{
        flex-direction: column;
        align-items: flex-start;
    }
    .big-stories-card{
        display: none;
    }
    .stories-card{
        width: 100%;
        margin: 80px auto;
        justify-content: space-between;
    
    }
    .small-stories-card{
        width: 100%;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .small-card-title{
        font-size: 10px;
    }
    .small-card{
        width: 100%;
    }
    .main-footer{
        flex-direction: column;
        height: 100%;
        align-items: flex-start; 
    }
    .footer{
        height:100%;
    }
    .footer-column-1{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .small-card-btn{
        font-size: 1rem;
        font-weight: 500;
        padding: 6px 11px 6px 11px;
        color: white;
        /* background-color: #95B226; */
        border: none;
        border-radius: 48px;
        position: absolute;
        top: 53%;
        left: 18px;
        cursor: pointer;
    }
    .fa-bar{
        display: block;

    }
    .fa{
        font-size: 2rem;
    }
}